* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
  background-image: url(resources/background.svg);
}

.heading {
  margin-top: 20px;
  margin-bottom: 44px;
}

.site-info {
  color: #fff;
  text-align: center;
  margin-bottom: 72px;
}

.site-info h1 {
  margin-bottom: 16px;
  font-size: 32px;
}

.wrapper {
  background-color: aliceblue;
  max-width: 810px;
  max-height: 100%;
  margin: auto;
  padding: 10px;
}

.wrapper div {
  display: inline-block;
  padding: 10px;
  margin-left: 24px;
  margin-right: 32px;
}

.name-info {
  border: solid 2px blue;
  margin-top: 32px;
  margin-bottom: 24px;
}

.email-info {
  border: solid 2px orange;
  margin-top: 32px;
  margin-bottom: 24px;
}

.size-info {
  border: solid 2px green;
  margin-top: 24px;
  margin-bottom: 24px;
 
 
}

.subject-info {
  border: solid 2px purple;
  margin-top: 24px;
  margin-bottom: 24px;
  
 
}

.wrapper .message-info {
  border: solid 2px coral;
  margin-top: 24px;
  margin-bottom: 32px;
  display: block;
}

button {
  border: solid 2px indigo;
  width: 100%;
  margin-bottom: 32px;
}





.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}